@font-face
  font-family: 'NeoSans'
  src: url(https://github.com/r4in/typefaces/raw/master/NeoSans/NeoSansPro-Regular.ttf) format('truetype')

body
  font-family: 'NeoSans', sans-serif

// Brand colors
$darkestblue: #0d171f
$darkblue: rgba(26, 46, 63, 1)
$lightblue: rgba(21, 189, 238, 1)
$beige-lighter: #EFF0EB
$purple: #414770

$menu-item-color: hsl(0, 0%, 96%)
$menu-item-hover-color: $darkestblue
$link: $lightblue
$body-background-color: $beige-lighter

$primary: $darkblue
$link: $lightblue
$info: $purple